@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-padding-top: 0vh;
    scroll-behavior: smooth;
}

header {
    background-color: #89B6CA;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 10rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font: 1.15rem;
    color: #07031A;
    font-weight: 400;
}

.nav-link:hover {
    color: #ffb900;
    transition: 0.2s
}

.login-button button {
    border: none;
    background-color: #07031A;
    padding: 10px 25px;
    border-radius: 18px;
}

.login-button button:hover {
    background-color: #ffb900;
    transition: 0.5s
}

.login-button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}

#paginaInicial {
    background-color: #89B6CA;
    height: 100vh;
    background-image: url(/ByteFlow/imgs/inicio.svg);
    background-repeat: no-repeat;   
    background-size:cover;
}

.tela-inicial {
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.byteflow {
    text-align: left;
    width: 45vw;
    justify-self: center;

}

h1 {
    color: #07031A;
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.vetor-computador {
    width: 20rem;
}

.frase-de-efeito {
    color: #ffb900;
}

#solucao{
    height: 100vh;
    background-color: #ffffff;
    background-image: url(/ByteFlow/imgs/tela-solucao.svg);
    background-size:cover;
    background-repeat: no-repeat;
    color: #07031A;
}

.container-solucao {
    width: 90vw;
    height: 100vh;
    margin: auto;
    display: flex;   
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.vetor-computador2 img {
    width: 40rem;
}

.texto-solucao p{
    text-align: end;
}

#beneficio {
    height: 100vh;
    background-color: #ffffff;
    background-image: url(/ByteFlow/imgs/tela-beneficio.svg);
    background-size:cover;
    background-repeat: no-repeat;
    color: #07031A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-beneficio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.headerCard {
    width: 290px;
    height: 45px;
    border-radius: 30px 0 0 0;
    background-color: #FFE39A;
}

.card {
    width: 290px;
    height: 345px;
    display: flex;
    flex-direction: column;
    background-color: #FFE39A;
    border-radius: 30px 0 30px 0;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.6);
    transition: 300ms;
}

.card:hover {
    transform: scale(1.01);
    background-color: #FFF;
}

.topCard {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.cardTitle {
    font-size: 18px;
    font-weight: 700;
}

.cardContent {
    font-size: 16px;
    font-weight: 400;

}

.bottomCard {
    height: 20%;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    align-items: top;
}

.bottomCard a {
    color: black;
    font-size: 15px;
}

.div-botao button {
    border: none;
    background-color: #07031A;
    padding: 10px 25px;
    border-radius: 18px;
}

.div-botao button:hover {
    background-color: #ffb900;
    transition: 0.5s;
}

.div-botao a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

#sobre-nos {
    height: 100vh;
    background-color: #ffffff;
    background-image: url(/ByteFlow/imgs/Design\ sem\ nome\ \(9\).svg);
    background-size:cover;
    color: #07031A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.container-sobre-nos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-sobre-nos p {
    font-size: 18px;
}

.caixa-sobre-nos {
    background-color: white;
    width: 25rem;
    height: 20rem;
    padding: 1.5rem 3rem 1.5rem 3rem;
    border-radius: 8px;
    justify-content: center;
    z-index: 1;
    align-items: center;
    display: flex;
    -webkit-box-shadow: 14px 13px 14px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 13px 14px -8px rgba(0,0,0,0.75);
box-shadow: 14px 13px 14px -8px rgba(0,0,0,0.75);
}

.img-trabalhando {
    background-color: #C7EEFF;
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    -webkit-box-shadow: 14px 13px 14px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 13px 14px -8px rgba(0,0,0,0.75);
    box-shadow: 14px 13px 14px -8px rgba(0,0,0,0.75);
}

.img-sobre-nos {
    width: 10rem;
    height: 10rem;
}

#visao {
    height: 100vh;
    background-color: #ffffff;
    background-image: url(/ByteFlow/imgs/tela-valores.svg);
    background-size:cover;
    color: #07031A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.container-principal {
    height: 55vh;
    width: 65vw;
    display: flex;
    gap: 3rem;
}

.box-missao{
    background-color: white;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
    width: 40vw;
    -webkit-box-shadow: 0px 21px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 21px 30px -6px rgba(0,0,0,0.75);
box-shadow: 0px 21px 30px -6px rgba(0,0,0,0.75);
}

.box-missao p {
    font-size: 17px;
}

.box-missao img {
    width: 7rem;
}

.box-visao{
    background-color: #C7EEFF;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
    width: 40vw;
    -webkit-box-shadow: 0px 21px 30px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 21px 30px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 21px 30px -6px rgba(0,0,0,0.75);
}

.box-visao p {
    font-size: 17px;
}

.box-visao img {
    width: 7rem;
}

.box-valores{
    background-color: #FFF;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
    width: 40vw;
    -webkit-box-shadow: 0px 21px 30px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 21px 30px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 21px 30px -6px rgba(0,0,0,0.75);
}

.box-valores p {
    font-size: 17px;
}

.box-valores img {
    width: 7rem;
}

:root {
    --color-neutral-0: #ffff;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

footer {
    width: 100%;
    color: #07031A;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background: rgb(0,83,119);
    background: linear-gradient(0deg, rgba(0,83,119,1) 24%, rgba(137,182,202,1) 66%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #07031A;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #ffb900;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #07031A;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #07031A;
    border: none;
    color: #ffff;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    background-color: #ffb900;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #171717;
    color: white;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}