@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
  
}

body {
    background-color: #f1f1f1;
 
    max-width: 100vw;
    
}
main {
    width: 100%;
    height: auto;
    overflow: hidden;
}

nav.menu-lateral {
    min-width: 5vw;
    width: 6%;
    max-width: 90px;
    height: 100vh;
    background-color: #ffff;
    padding: 40px 1% 40px 1%;
    box-shadow: 4px 0px 23px -4px rgba(31, 31, 31, 0.65);
    box-shadow: 4px 0px 23px -4px rgba(31, 31, 31, 0.65);
    box-shadow: 4px 0px 23px -4px rgba(31, 31, 31, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .7s;
    z-index: 2;
}

nav.menu-lateral.expandir {
    min-width: 250px;
    width: 250px;
    backdrop-filter: blur(8px);
}

.botao_expandir {
    width: 100%;
    margin-bottom: 60px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 3px 3px 22px #5e5e5e1c; */
    
    cursor: pointer;
}

.botao_expandir img {
    cursor: pointer;
}

.botao_expandir > i {
    color: #ffff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
    /* background-color: blue; */
    padding: 0;
}

ul li.ativo {
    background-color: #a6bcdfbb;
    border-radius: 10px;

}

ul li.item-menu:hover{
    background-color: #c5d8f7bb;
    border-radius: 10px;
}
#item-menu-sair:hover{
    background-color: #e67973;
}
ul li.item-menu{
    transition: .2s;
    /* background-color: rgb(43, 85, 85); */
    /* padding: 0; */
    margin-bottom: 2.5rem;
}

ul  #item-menu-sair{
    margin-top: 20vh;
    /* background-color: #102C57; */

}

ul li.item-menu a{
    color: #ffff;
    text-decoration: none;
    font-size: 17px;
    padding: 20px 2%;
    display: flex;
    line-height: 25px;
}


.txt-link{
    margin-left: 2.8rem;
    color: #102C57;
    font-weight: 600;
}

.txt-link-sair{
    margin-left: 3.1rem;
    color: rgb(151, 16, 16);
    text-decoration: underline;
    font-weight: 600;

}

.icon-sair{
    /* font-size: 25px; */
    color: rgb(151, 16, 16);
    margin-left: 1.8rem;
}


.icon {
    margin-left: 1.8rem;
    color: #000d22;
}



#dash{
    margin-left: 10vw;
    height: auto;
    /* background-color: antiquewhite; */
    overflow: hidden;
}
#dash header {
    width: 90%;
    display: flex;
    /* background-color: #ddeaaa; */
    justify-content: space-between;
    height: auto;
    position: fixed;
    transition: opacity 0.3s ease; /* Adicione uma transição suave de 0.3 segundos */
    opacity: 1; /* Defina a opacidade inicial como 1 (totalmente visível) */
}
#dash header #titulosDash{
    display: flex;
    flex-direction: column;
    /* background-color: #e67973; */
}
#dash header #titulosDash h1{
    color: #102C57;
    /* text-shadow: 3px 3px 3px #0f0f0f69; */
    margin: 0;
    margin-bottom: 3%;
}
#dash header #titulosDash h3{
    color: #213f6d;
    margin: 0;
    /* text-shadow: 3px 3px 3px #32323269; */
}
#dash header .opcoesTopo{
    width: 20%;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    margin-right: 2vw;
}


#dash header .opcoesTopo div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 30%;
    height: 90%;
    border-radius: 50%;
    cursor: pointer;
}

#dash #areaGraficos{
    /* background-color: rgb(104, 104, 67) ; */
    width: 100%;
    height: auto;
    padding-top: 5vh;
    margin-top:10vh;
}
#dash #areaGraficos #areaKpis{
    /* background-color: lightcoral; */
    height: 25vh;
    width: 98%;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dash #areaGraficos #areaKpis .tituloKpi{
    font-weight: bold;
    color: #102C57;
    font-size: 1.2rem;
    text-shadow: 2px 2px 3px rgba(61, 61, 61, 0.247);
}
#dash #areaGraficos #areaKpis .kpiVerde{
    min-width: 20%;
    display: flex;
    justify-content: center;
    background-color: #bcffbcb6;
    color: #7A9D54;
    padding: 2%;
}
#dash #areaGraficos #areaKpis .kpiAmarela{
    min-width: 20%;
    display: flex;
    justify-content: center;
    background-color: #ffe23c4b;
    color: #dfbd00;
    padding: 2%;
    margin-top: 15%;
}
#dash #areaGraficos #areaKpis .kpiBranca{
    min-width: 20%;
    display: flex;
    justify-content: center;
    background-color: #7899cad8;
    color: #213f6d;
    padding: 2%;
    margin-top: 15%;
}
#dash #areaGraficos #areaKpis .kpiVermelha{
    min-width: 20%;
    display: flex;
    justify-content: center;
    background-color: #ca413a3f;
    color: #ca413a;
    padding: 2%;
    /* margin-top: 15%; */
}
#dash #areaGraficos #areaKpis .valoresKpi{
    
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 0 4%;
}
#dash #areaGraficos #areaKpis .kpi{
    width: 16%;
    height: 76%;
    padding: 2%;
    background-color: #fff;
    box-shadow: 2px 2px 5px #53535396;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#dash #areaGraficos section {
    /* background-color: pink; */
    width: 98%;
    min-width: 95vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
}
#dash #areaGraficos section .graficos{
    background-color: #fdfdfd;
    width: 320px;
    height: 45%;
    border-radius: 1.7rem;
    box-shadow: 1px 3px 5px #2222225d;
    padding: 5px 15px;
    margin-bottom: 3%;
}
#dash #areaGraficos section .cpu, #dash #areaGraficos section .tarefas { 
    width: 45%;
    height: 50vh;

}
 #dash #areaGraficos section .ram{
    width: 54%;
    height: 50vh;
}
#dash #areaGraficos section .cpu h3, #dash #areaGraficos section .ram h3{
    margin-left: 5%;
    color: #000d22;
}
#dash #areaGraficos section .disco h3{
    /* margin-left: 5%; */
    color: #000d22;
}
#dash #areaGraficos section .tarefas h3{
    color: #000d22;
    margin-left: 5%;
}
 #dash #areaGraficos section .disco{
    width: 24%;
    height: 43vh;
    padding: 0 4%;
    margin: auto;
    margin-top: 3.5vh;
    /* background-color: #77DD77; */
}
#dash #areaGraficos section .graficos div{
    width: 100%;
    height: 67%;
    border-radius: 15px;
    margin: auto;
}
#dash #areaGraficos section .graficos div #myChartLineCpu, #dash #areaGraficos section .graficos div #myChartLineRam{
    min-width: 85%;
    margin: auto;
    min-height: 110%;
}
#dash #areaGraficos section .graficos div #myChartLineRam{
    min-width: 90%;
}
#dash #areaGraficos section .ram{
    width: 45%;
}
#dash #areaGraficos section .graficos div #myChartLineTarefas, #dash #areaGraficos section .graficos div #myChartLineDisco {
    min-width: 85%;
    margin: auto;
}


#dash #areaTarefas{
    margin-top: 15vh;
    /* background-color: #6e8ab4; */
}

/* area do menu lateral */

.sectionsSumir {
    display: none;
}

.active {
    display: block;
}


/*  */

/* area do modal notificaçao */

/* Estilo do modal */
.notificacaoModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 98%;
    height: 92%;
    /* margin-top: 5%; */
    padding-top: 8%;
    padding-left: 2%;
    overflow: auto;
   
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(1px);
}
.notificacaoModal-content {
    background-color: #fefefe00;
    /* margin: 15% auto; */
    /* padding: 20px; */
    /* border: 1px solid #888; */
    width: 90%;
    height: 100%;
    margin-left: 8vw;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: grey;
}

/* Estilo da barra de rolagem */
.notificacaoModal-content::-webkit-scrollbar {
    width: 12px; /* Ajusta a largura da barra de rolagem conforme necessário */
}

/* Estilo do "thumb" (o indicador da barra de rolagem) */
.notificacaoModal-content::-webkit-scrollbar-thumb {
    background-color: #B5B8BA; /* Cor da barra de rolagem */
    border-radius: 6px; /* Border radius para criar cantos arredondados */
}

.notificacaoModal-content section div{
    margin-bottom: 1%;
    display: flex;
    flex-direction: column-reverse;
}
.notificacaoModal-content section div p{
    font-size: 1.125rem;
    font-weight: 500;
    color: #000d22;
    cursor: pointer;
}
.notificacaoModal-content section .notificacaoCritico p{
    width: 88%;
    padding-left: 2%;
    /* margin: auto; */
    height: 4rem;
    border-radius: 1rem;
    background-color: #FF6961;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column-reverse;
    margin-bottom: 1%;
}
.notificacaoModal-content section .notificacaoAlerta{
    width: 88%;
    padding-left: 2%;
    /* margin: auto; */
    height: 4rem;
    border-radius: 1rem;
    background-color: #FDFD96;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.notificacaoModal-content section .notificacaoBom{
    width: 88%;
    padding-left: 2%;
    /* margin: auto; */
    height: 4rem;
    border-radius: 1rem;
    background-color: #77DD77;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.closeNotificacao {
    color: #313131;
    float: right;
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 5%;
    position: fixed;
    right: 0%;
}

.closeNotificacao:hover,
.closeNotificacao:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*  */

/* modal usuario */

.usuarioModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 98%;
    height: 100%;
    /* margin-top: 5%; */
    /* padding-top: 3%; */
    padding-left: 2%; 
    overflow: auto;
   
    /* background-color: rgba(0,0,0,0.4); */
    backdrop-filter: blur(5px);;
}
.usuarioModal-content {
    background-color: #fefefe;
    width: 50%;
    height: 75%;
    padding: 0 5%;
    margin: auto;
    margin-top: 5%;

    /* overflow-y: auto; */
    /* scrollbar-width: thin; */
    box-shadow: #5050509c 5px 5px 10px ;
    border-radius: 2rem;
}

/* Estilo da barra de rolagem */
.usuarioModal-content::-webkit-scrollbar {
    width: 12px; /* Ajusta a largura da barra de rolagem conforme necessário */
}

/* Estilo do "thumb" (o indicador da barra de rolagem) */
.usuarioModal-content::-webkit-scrollbar-thumb {
    background-color: #B5B8BA; /* Cor da barra de rolagem */
    border-radius: 6px; /* Border radius para criar cantos arredondados */
}

.usuarioModal-content section h1{
    text-align: center;
    width: 100%;
    color: #102C57;
    text-shadow: 3px 3px 5px #4e4e4e85;
    font-size: 2rem;
    padding-top: 5vh;
    /* background-color: green; */
    margin-bottom: 0;
}
/* .usuarioModal-content section article #imgPerfil{
    width: 10rem;
    height: 10rem;
    background-color: #213f6d;
    border-radius: 50%;
}
.usuarioModal-content section article #imgPerfil img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
} */
.usuarioModal-content section article .conteudoPerfil{
    width: 90%;
    height: fit-content;
    background-color: #D4E2F8;
    padding: 2% 3%;
    border-radius: 15px;
    margin-top: 2%;
}
.usuarioModal-content section article .iconeEditarPerfil{
    background-color: #EDEDED ;
    box-shadow: 2px 2px 5px #919191cc;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    right: 28%;
    top: 41%; */
    margin-left: 90%;
    margin-top: -5%;
    cursor: pointer;
}
.usuarioModal-content section article .conteudoPerfil .legendaPerfil{
    color: #000d22;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px 0;
}
.usuarioModal-content section article .conteudoPerfil .primeiraLegenda{
    margin-top: 0;
}
.usuarioModal-content section article .conteudoPerfil .campoPerfil{
    color: #102C57;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    background-color: transparent;
    border: none;
}

#EnviarEdicaoPerfil{
    width: fit-content;
    background-color: #213f6d;
    padding: 2% 3%;
    color: #D4E2F8;
    border-radius: 15px;
    cursor: pointer;

    box-shadow: #313131 3px 3px 10px;
}
/*  */

.notificacaoCritico {
    width: 88%;
    padding-left: 2%;
    height: 4rem;
    border-radius: 1rem;
    background-color: #FF6961;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 3px 5px rgb(41, 41, 41);
    color: #ffffff!important;
    font-weight: 600!important;
    animation: changeBackground 3s infinite; /* 3s * 3 (number of background changes) */
}

@keyframes changeBackground {
    0% {
        background-color: #FF6961; /* Red */
    }
    33.33% {
        background-color: #fa4138; /* Sky Blue */
    }
    66.66% {
        background-color: #FF6961; /* Light Green */
    }
    100% {
        background-color: #fa4138; /* Gold */
    }
}
.editando {
    border: 1px solid #ccc; /* Adicione o estilo de borda desejado */
    padding: 5px; /* Adicione o estilo de preenchimento desejado */
    /* Adicione outros estilos conforme necessário */
}