@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
  
}

#areaTarefas{
  background-image: url(../assets/img/fundoCadFunc.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  min-height: 82vh;
  height: auto;
}
.accordion-container {
  max-width: 78%;
  margin: 0 auto;
 
}

.accordion-item {
  /* border: 1px solid #222; */
  margin-bottom: 10px;
  background-color: #e4e4e4;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(97, 97, 97, 0.342);
}

.accordion-header {
  display: flex;
  align-items: center;
  height: 35px;
  border: 1px solid #00000000;
  border-radius: 6px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

#headerTarefas:hover, #headerConcluido:hover, #headerAndamento:hover, #headerAfazer:hover{
  background-color: #1111111f;
}

#headerTarefas{
  background-color: #102c577e;
}

#headerConcluido{
  background-color: #77dd777e;
}

#headerAndamento{
  background-color: #ffd9007e;
}

#headerAfazer{
  background-color: #FF69617e;
}

.accordion-content {
  padding: 10px;
  min-height: 50px;
  display: none;
}

.active .accordion-content {
  display: block;
}

.task-input {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}

.task-input input{
  padding: 12px;
  margin-right: 12px;
  width: 225px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: white;

  font-size: 14px;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.task-input button{
    
  padding: 12px 32px;

  border-radius: 4px;
  border: none; 

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #102C57;
  color: #ffffff;

  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
#areaFuncionarios article .infosFuncionario .task-input button{
  /* padding: 9px 6px !important; */
  width: 25%;
}
.task-input button:hover{
  background: #1111111f;
  color: #102C57;
}

.task{
  height: 50px;
  padding-left: 20px;

  display: flex;
  align-items: center;
  font-weight: bolder;

  color: #111111;
  border: 1px solid black;
  border-radius: 5px;

  margin-bottom: 5px;
}

.task:hover{
  color: #010f22;
  background: #1111111f;
  cursor: pointer;
}

.nomeLista{
  cursor: default;
}
.nomeLista h1{
  color: #102C57;
  border-bottom: 1px solid #102C57;
}

/* .exibirTarefa{
  margin-left: 5%;
} */