@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



section {
    font-family: 'Poppins', sans-serif;
}

body * {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
}

.section1 {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(91deg, #F8F0E5 11.97%, #DAC0A3 114.07%);
    display: flex;
    justify-content: center;
    align-items: center;
}