#areaDash {  
    height: auto;
    width: 100%;
    margin-top: 15vh;
    overflow-y: auto!important;
    /* background-color: aquamarine; */
}

/*  */
.kpiIniciais {
    width: 95%;
    display: flex;
    justify-content: center;
    gap: 40px;

}
.kpiInfo {
    width: 16%;
    text-align: center;
    border-radius: 25px;
    padding: 5px 20px 25px 20px;
    background-color: white;
    box-shadow: 4px 6px 15px -4px rgba(0,0,0,0.56);
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0,0,0,0.56);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0,0,0,0.56);
}
.kpiInfo p{
    font-weight: bold;
    color: #102C57;
}
.kpiInfo span {
    font-weight: bold;
    font-size: 35px;
}
.kpiMaquinas {
    width: 95%;
    display: flex;
    justify-content: center;
    gap: 21px;
    margin-top: 30px;
}
.maquinasInfo {
    background-color: #ffffff;
    width: 25%;
    text-align: center;
    border-radius: 25px;
    padding: 15px 20px 15px 20px;
    box-shadow: 4px 6px 15px -4px rgba(0,0,0,0.56);
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0,0,0,0.56);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0,0,0,0.56);
}
.divisaoInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.limiteAlerta {
    font-size: 12px;
    color: #102C57;
}
.legendaMaquinas {
    width: 60%;
    font-weight: bold;
    color: #102C57;
}
.divisaoInfo span {
    font-weight: bold;
    font-size: 35px;
}

#kpi1 {
    color: #7A9D54;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #bcffbcb6;
}
#kpi2 {
    color:#7A9D54;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #bcffbcb6;
}
#kpi3 {
    color: #ca413a;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #ca413a3f;
}
#kpi4 {
    color: #dfbd00;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #ffe23c4b;
}
#kpiMaquina1 {
    color: #dfbd00;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #ffe23c4b;
}
#kpiMaquina2 {
    color: #dfbd00;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #ffe23c4b;
}
#kpiMaquina3 {
    color: #ca413a;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: #ca413a3f;
}

.containerTable {
    justify-content: center;
    align-items: center;
    display: flex;
}


.tableFuncionario {
    width: 60%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* width: 82%; */
    /* margin-left: 5%; */
    background-color: white;
    padding: 10px 0px 10px 0px;

    border-radius: 20px;
    box-shadow: 4px 6px 15px -4px rgba(0,0,0,0.56);
    -webkit-box-shadow: 4px 6px 15px -4px rgba(0,0,0,0.56);
    -moz-box-shadow: 4px 6px 15px -4px rgba(0,0,0,0.56);
}

.tableFuncionario h3 {
    color: #102C57;
    overflow: auto;
}

table {
    text-align: center;
    width: 90%;
    border: none;
    color: #102C57;
    /* margin: auto; */
    overflow: auto; 
    margin-left: 1%;
    /* background-color: #dfbd00; */
}
th{
    width: 100px;
}


th, td {
    padding: 8px;
}

#posicao{
    /* background-color: rgb(109, 235, 109); */
    text-align: center;
    width: 30%!important;

}
.posicaoFunc{
    width: 35%!important;
    /* padding-right: 10%; */
    /* background-color: #ca413a; */
}
#totalTarefas{
    /* background-color: rgb(109, 235, 109); */
    text-align: end;
    width: 35%!important;
}
.totalTarefasFunc{
    /* width: 35; */
    padding-left: 10%;
    /* background-color: #ca413a; */
}
th {
    background-color: #f2f2f200;
    font-weight: bold;
    text-align: start;
    text-align: center;
}