@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}

#areaCadFunc{
    width: auto;
    height: 85vh;
    margin-top: 12vh;
    /* max-height: 80vh; */
    /* background-color: green; */
}

.container{
    width: auto;
    height: 100%;
    /* margin-left: 10vw; */
    /* background-color: rgb(100, 40, 40); */
    background-image: url(../img/fundoCadFunc.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.card_cadastro{
    margin: auto;
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
}

.titulo_cadastro{
    font-size: 32px;
    color: #102C57;
}

input{
    width: 100%;
    height: 1.9rem;
    font-size: 1.1rem;
    background: none;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

input:focus{
    outline: none;
    border: 2px solid #102c57e0;
    background: none;
    /* border-radius: 0; */
    border: none;
    border-bottom: solid 2px #102C57;
}

.group_input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 1.9rem 0 1.5rem 0 ;
}

.card_cadastro .primeiraGroupInputs{
    margin-top: 0.8rem;
}

.botao_cadastro{
    width: 100%;
    margin: 5% 0 0 0;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 3.1rem;
}

button{
    height: 100%;
    width: 40%;
    font-size: 100%;
    color: #102C57;
    border: 2px solid #102C57;
    background: none;
    border-radius: 100px;
    cursor: pointer;
}