
#areaFuncionarios {  
    height: auto;
    width: 100%;
    margin-top: 15vh;
    overflow-y: auto!important;
    /* background-color: aquamarine; */
}

#areaFuncionarios #topoFuncionarios{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    width: 95%;
    /* margin: auto; */
}
#areaFuncionarios #topoFuncionarios div h1{
    font-size: 2rem;
    margin: 0;
    color: #102C57;
    text-shadow: 3px 3px 5px rgba(73, 73, 73, 0.363);
}
#areaFuncionarios #topoFuncionarios div:last-child{
    width: 28%;
    height: 5vh;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px  rgba(73, 73, 73, 0.788);
    padding: 0.5% 2%;
    display: flex;
    align-items: center;
}
#areaFuncionarios #topoFuncionarios div input{
    width: 100%;
    outline: none;
    border: none;
    /* background-color: green; */
    z-index: 10;
}
#areaFuncionarios #topoFuncionarios div img{
    width: 15%;
    height: 80%;
    margin: 0;
    cursor: pointer;
}
#areaFuncionarios .infosFuncionario{
    display: flex;
    justify-content: space-between;
    width: 86%;
    padding: 0% 6% 0 3%;
    border: solid 2px #141414;
    border-radius: 20px;
    margin-top: 4vh;
}

#areaFuncionarios .infosFuncionario .btnAbrirModalFuncionario{
    cursor: pointer;
}

/* area modal func */
.infosFuncionario {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 89%;
    padding: 0% 3%;
    border: solid 2px #141414;
    border-radius: 20px;
    margin-top: 4vh;
    overflow: hidden;
    transition:  0.5s all; /* Adiciona uma transição suave ao mudar a altura */
}
.infosFuncionario .cargo.expandido{
    display: flex!important;
    justify-content: space-between;
    align-items: center;
}
.vermelho {
    color: #cf4747
}
.verde {
    color: #25b431;
}
 .iconeEditar{
    /* display: none!important; */
    cursor: pointer;
}
.infosFuncionario.expandido {
    min-height: 30.5rem!important; /* Altere a altura conforme necessário */
    height: auto;
    flex-direction: column;
    padding-top: 4%!important;
    transition: all 0.5s ;
    height: 30vh;
}
#areaFuncionarios .infosFuncionario .labelFuncionario.expandido{
    border-bottom: solid rgb(75, 75, 75) 1px ;
    margin: 0!important;
    /* background-color: green; */
    margin-bottom: 1%!important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#areaFuncionarios .infosFuncionario .labelFuncionario:last-child.expandido{
    margin-bottom: 2%;
}

#areaFuncionarios .infosFuncionario .btnAbrirModalFuncionario {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: -10px; /* Ajuste a posição do botão de mais conforme necessário */
    right: 20px; /* Ajuste a posição do botão de mais conforme necessário */
    z-index: 999; /* Garante que o botão fique acima de outros elementos na div pai */
}

#areaFuncionarios .infosFuncionario .labelFuncionario:not(.nomeFuncionario) {
    display: none;
}

#areaFuncionarios .infosFuncionario.expandido .labelFuncionario {
    display: block;
    margin-bottom: 12.3rem;
}

#areaFuncionarios .infosFuncionario .tarefasCompletas .bordaVerde {
    border-bottom: #25b431 2px solid; /* Sem !important */
}

#areaFuncionarios .infosFuncionario .tarefasAtrasadas  .bordaVermelha {
    border-bottom: #e53d3d 2px solid; /* Sem !important */
}

/* area menu */

.sectionsSumir {
    display: none;
}

.active {
    display: block;
}

/*  */

